pandas==2.2.3
pyufunc
pylint
pytest
urllib3>=2.2.1
tqdm
sphinx_copybutton
sphinx==7.4.6
sphinx-design
sphinx-hoverxref
sphinx-multiproject
sphinx-notfound-page
sphinx-prompt
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-httpdomain
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-video
sphinxemoji
sphinxext-opengraph
nbsphinx
numpydoc
rich
